a{
	color: red; 
	text-decoration: none;
	font-size: 18px;
}
h1{
	font-family: helvetica, sans-serif;
}
/*É CSS, folha de estilo em cascata porque a leitura é feita de cima para baixo, ou seja, o que estiver no final vai sobreescrever o que estiver no começo.
EXEMPLO ABAIXO:
*/
a{
	color: yellow;
}
/*USANDO UMA ID*/
#segundo{
	color: orange;
}
/*USANDO UMA CLASSE*/
.link{
	color: green;
}
/* 'a.link' para alterar somente os 'a ref'*/
a.link{
	color: red;
}
/*'body p a.link' para alterar somente os 'a's' que estiverem no body p' */
body p a.link{
	color: blue;
}